body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.current-value {
    font-size: 80px;
}

.current-value-unit {
    font-size: 17px;
    color: #555;
    margin-left: 10px;
}

.chart-loading {
    margin: 300px 0px 0px 360px;
}

.measurement-date {
    margin: 10px 0px 0px 10px;
    font-size: 0.8em;
    color: #444;
}