<style>
.calendar-list li {
    list-style: none;
    margin: 5px 20px;
}
.min-rect, .max-rect, .avg-rect {
    height: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    display: inline-block;
}
.value-container {
    width: 200px;
    display: inline-block;
}
.min-rect {
    background-color: blue;
}
.max-rect {
    background-color: red;
}
.avg-rect {
    background-color: green;
}
</style>

<div ng-controller="SensorCalendarCtrl">

    <ul class="calendar-list">
        <li ng-repeat="day in days">
            <div>{{day.date}}</div>
            <div><div class="value-container"><div class="min-rect" style="width:{{day.min * 5}}px"></div></div>{{day.min}}</div>
            <div><span class="value-container"><span class="max-rect" style="width: {{day.max * 5}}px"></span></span>{{day.max}}</div>
        </li>
    </ul>

</div>
